[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
minio = "minio==7.1.12"
loguru = "loguru==0.6.0"
twine = "twine==4.0.2"
pytest = "pytest==7.2.0"
allure-pytest = "allure-pytest==2.12.0"
pytest-pusher = "==0.0.2"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
upload = 'twine upload dist/*'
build = 'python setup.py sdist bdist_wheel'
test = 'pytest -s -v --alluredir reports'
clean = 'rm -rf .eggs build dist pytest_pusher.egg-info'
